[submodule "home-page-service"]
	path = home-page-service
	url = https://github.com/DevOps22-Grupp1/home-page-service/
	branch = prometheus-fix
	
[submodule "order-processing-service"]
	path = order-processing-service
	url = https://github.com/DevOps22-Grupp1/order-processing-service
	branch = project-merge
[submodule "produkt-catalog-service"]
	path = produkt-catalog-service
	url = https://github.com/DevOps22-Grupp1/produkt-catalog-service/
	branch = project-merge
[submodule "user-management-service"]
	path = user-management-service
	url = https://github.com/DevOps22-Grupp1/user-management-service
	branch = main
